@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
.animate-scroll-up-1 {
  animation: scroll-up 25s linear infinite;
}
.animate-scroll-up-2 {
  animation: scroll-up 30s linear infinite;
}
.animate-scroll-up-3 {
  animation: scroll-up 20s linear infinite;
}

@layer base {
  input:not([type="checkbox"]) {
    @apply outline-none border border-gray-300 focus:ring focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }

  textarea {
    @apply outline-none border border-gray-300 focus:ring focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none;
  }
}
