# Dependencies
node_modules/

# Env files
.env
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
build/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Coverage
coverage/

# PM2
pids
*.pid

# Misc
*.tgz
